@charset "utf-8";
*{
    margin:0;
    padding:0;
}
$Width:1060px;
#box{
    width:100%;
    margin:0 auto;
}
.nav{
    width:$Width;
    height:100px;
    background:palegoldenrod;
}
#banner{
    width:1421px;
    height:400px;
    position:relative;
}
