@charset "utf-8";
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration: none;
}
$Width:1350px;
a{
    text-decoration: none;
    color:gray;
}
#box{
    width:$Width;
    margin:0 auto;
}
.nav{
    width:$Width;
    height:100;
}

